*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Arimo', FontAwesome, sans-serif;

}

.main {
    background: url("./img/Layer1.png") no-repeat fixed center;
    background-size: cover;
}

.wrapper-main {
    color: #a0a09f;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.content {
    width: 1160px;
    justify-content: space-between;
    align-items: center;
}

.black-header {

    background: rgba(0, 0, 0, 0.5);
}

.header {
    display: flex;
    height: 120px;
    margin: 0 auto;
}

.black-header {
    display: flex;
    width: 100%;
}

.logo {
    display: inline-block;
    width: 58px;
    background-color: #18CFAB;
    color: white;
    font-size: 40px;
    text-align: center;
    line-height: 67px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.the, .ham {
    font-size: 24px;

}

.the {
    color: white;
}

.ham {
    color: #18CFAB;
    font-weight: bold;
}

.navMenu {
    width: 60%;
}

.navMenu ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-left: -95px;
}

.menu-link {
    text-transform: uppercase;
    color: #a0a09f;
    text-decoration: none;
    font-weight: bold;
}

.menu-link:hover {
    color: #18cfab;
}

.navMenu ul:after {
    content: "\f002";
    color: #b8b8b8;
    cursor: pointer;
    padding-top: 50px;
}

.navMenu-border li {
    margin: 0;
    padding-bottom: 51px;
    padding-top: 51px;

}

.navMenu-border li:hover {

    border: 0 solid #18cfab;
    border-bottom-width: 1px;
    text-decoration: none;
}

.main-text {
    text-align: center;
    margin-top: 185px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

.main-text1 {
    font-size: 35px;
    color: white;

}

.main-text1 span {
    color: #18CFAB;
}

.main-text2 {
    font-size: 69px;
    font-weight: bold;
}

.main-text3 {
    font-size: 30px;
    text-transform: capitalize;
    color: #D4D4D4;
    font-weight: normal;
}

.button-class {
    margin-top: 141px;
    padding-bottom: 244px;
}

.button {
    width: 167px;
    height: 62px;
    background-color: #18CFAB;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    box-shadow: 0px -3px 0px 0px rgba(255, 255, 255, 1);
    border-radius: 6px;
}

.button:hover {
    background-color: #00CBF6;
}

.four-line {
    display: flex;
    font-size: 0;
}

.one, .two, .three, .four {
    width: 25%;
    height: 7px;
}

.one, .three {
    background-color: #18CFAB;
}

.two, .four {
    background-color: white;
}

.four-bloks {
    display: flex;
    height: 375px;
}

.different, .unlimited-support, .fully, .responsive {
    width: 25%;
}

.four-different-img {
    background: url("./img/Forma 1@1X.png") no-repeat center;
    height: 98px;
    width: 98px;
}

.four-unlimited-support-img {
    background: url("./img/Forma 1@1X (2).png") no-repeat center;
    height: 98px;
    width: 98px;
}

.four-fully-img {
    background: url("./img/Forma 1@1X (1).png") no-repeat center;
    height: 98px;
    width: 98px;
}

.four-responsive-img {
    background: url("./img/Forma 1@1X (3).png") no-repeat center;
    height: 98px;
    width: 98px;
}

.different, .unlimited-support {
    background-color: #1C2A33;
}

.four-bloks > * {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.four-bloks-img {

}

.four-bloks-text {
    margin-top: 44px;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

.bloks-text-color {
    color: #18CFAB;
}

.fully, .responsive {

    background-color: #18CFAB;
}

.block-servise {
    padding-bottom: 84px;
    position: relative;
}

.our-services {
    margin-top: 62px;
}

.our-services > * {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.service-contens::after {
    content: '';
    display: inline-block;
    width: 76px;
    height: 1px;
    background-color: #18CFAB;
    position: absolute;
    bottom: 40px;
    right: 48%;
}

.service-contens::before {
    content: '';
    display: inline-block;
    width: 76px;
    height: 1px;
    background-color: #18CFAB;
    position: absolute;
    bottom: 35px;
    right: 47%;

}

.service-contens {
    justify-content: space-between;
    font-size: 36px;

}

.header-servisec {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
}

.header-servisec li a {
    text-decoration: none;

    color: black;
}

.header-servisec li {
    display: inline-block;
    font-size: 17px;
    cursor: pointer;
    width: 189px;
    height: 73px;
    background-color: #F8FCFE;
    line-height: 73px;
    border: 1px solid #F4F7F8;
    position: relative;
    color: gray;
    margin: 0px;
}

.header-servisec li:hover {
    background-color: #18CFAB;
    color: white;
}

.header-servisec.active li a {
    text-decoration: none;
    color: white;
}

.tabs-title.active {
    background-color: #18CFAB;
}

.tabs-title.active:after {
    position: absolute;
    content: '';
    width: 15px;
    height: 12px;
    background-color: #18CFAB;
    display: inline-block;
    top: 65px;
    left: 87px;
    transform: rotate(45deg);
}

.header-servisec li a:hover {
    text-decoration: none;
    color: white;
}

.footer-service {
    display: flex;
    text-decoration: none;
    justify-content: center;
    width: 1136px;
}

.tab-descr {
    display: none;
}

.tab-descr.active {
    display: block;
}

.img-web-design {
    display: inline-block;
    background: url("./img/graphic design/graphic-design1.jpg") no-repeat center;
    width: 517px;
    height: 140px;
    flex-grow: 1;
}

.img-graphic-design {
    display: inline-block;
    background: url("./img/graphic design/graphic-design2.jpg") no-repeat center;
    width: 871px;
    height: 139px;
}

.img-online-support {
    display: inline-block;
    background: url("./img/graphic design/graphic-design3.jpg") no-repeat center;
    width: 292px;;
    height: 139px;
}

.img-app-design {
    display: inline-block;
    background: url("./img/graphic design/graphic-design4.jpg") no-repeat center;
    width: 382px;
    height: 139px;
}

.img-online-marketing {
    display: inline-block;
    background: url("./img/graphic design/graphic-design5.jpg") no-repeat center;
    width: 599px;
    height: 139px;
}

.img-seo-service {
    display: inline-block;
    background: url("./img/graphic design/graphic-design6.jpg") no-repeat center;
    width: 474px;
    height: 139px;
}

.text-web-design {
    color: gray;
    text-align: left;
    margin-left: 13px;
}

.everything-ins {
    text-align: center;
}

.wrapper-everything {
    background: linear-gradient(to bottom, rgba(93, 93, 93, 0.3), rgba(93, 93, 93, 0.3)),
    url("./img/Sections background/section-2.jpg") no-repeat center;
    background-size: cover;
}

.everything-text {
    padding-top: 128px;
    padding-bottom: 35px;
    color: #18CFAB;
    text-transform: uppercase;
    font-size: 40px;
}

.ggg {
    font-size: 16px;
    padding-bottom: 76px;
    color: #D8D8D8;
}

.buttom-everything {
    padding-bottom: 96px;
}

.amazing-work-blocks > * {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #F8FCFE;
}

.images {
    display: flex;
    flex-wrap: wrap;
    width: 1185px;
    cursor: pointer;
    text-align: left;
}

.portfolio-img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.amazing-text-content {
    padding-top: 72px;
    color: #4E4E4E;
    font-size: 36px;
    padding-bottom: 101px;
    position: relative;
}

.amazing-text-content::after {
    content: '';
    display: inline-block;
    width: 76px;
    height: 1px;
    background-color: #00CBF6;
    position: absolute;
    bottom: 40px;
    right: 45%;
}

.amazing-text-content::before {
    content: '';
    display: inline-block;
    width: 76px;
    height: 1px;
    background-color: #00CBF6;
    position: absolute;
    bottom: 35px;
    right: 43%;
}

.amazing-ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.amazing-ul li {
    text-transform: uppercase;
    width: 189px;
    background-color: white;
    line-height: 73px;
    border: 1px solid #F4F7F8;
    position: relative;
    color: gray;
    padding-right: 20px;
    padding-left: 20px;
}

.portfolio-hover {
    /*display: none;*/
    opacity: 0;
    position: absolute;
    width: 290px;
    height: 207px;
    padding: 46px 0 52px 0;
    border-top: 3px solid #18cfab;
    text-align: center;
    box-sizing: border-box;
    background-color: #f8fcfe;
    transition: opacity 0.4s;
    /*transform: translateY(-100%);*/
}

.portfolio-links a {
    display: inline-block;
    margin: 0 2.5px;
    width: 40px;
    height: 40px;
    border: 1px solid #18cfab;
    border-radius: 50%;
    line-height: 40px;
    color: #18cfab;
}

.portfolio-links a:hover {
    background-color: #18cfab;
    color: #fff;
}

.portfolio-info p:first-child {
    margin-bottom: 13px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: #18cfab;
}

.portfolio-info p:nth-child(2) {
    text-transform: capitalize;
    font-size: 12px;
    color: #8a8a8a;
}











.amazing-button {
    padding-top: 53px;
    padding-bottom: 75px;
}

.fa-plus {
    padding-right: 10px;
}

.images:hover img {
    background: #00CBF6;
}

.images-hover {
    background-color: white;
    width: 286px;
    height: 208px;
}

.amazing-blocks {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    width: 1176px;
}

.amazing-img-size {
    height: 204px;
    width: 284px;
}

.tabs-service:hover {
    color: #18CFAB;
    border-top-color: #18CFAB;
    cursor: pointer;
}

.container {
    position: absolute;
    width: 100px;
    height: 100px;
    /*top: 0;*/
    /*bottom: 0;*/
    left: 0;
    right: 0;
    margin: auto;
    display: none;
    padding-bottom: 150px;
}

.item {
    width: 50px;
    height: 50px;
    position: absolute;
}

.item-1 {
    background-color: #FA5667;
    top: 0;
    left: 0;
    z-index: 1;
    animation: item-1_move 1.8s cubic-bezier(.3, .01, .4, 1) infinite;
}

.item-2 {
    background-color: #7A45E5;
    top: 0;
    right: 0;
    animation: item-2_move 1.8s cubic-bezier(.3, .01, .4, 1) infinite;
}

.item-3 {
    background-color: #1B91F7;
    bottom: 0;
    right: 0;
    z-index: 1;
    animation: item-3_move 1.8s cubic-bezier(.3, .01, .4, 1) infinite;
}

.item-4 {
    background-color: #FAC24C;
    bottom: 0;
    left: 0;
    animation: item-4_move 1.8s cubic-bezier(.3, .01, .4, 1) infinite;
}

@keyframes item-1_move {
    0%, 100% {
        transform: translate(0, 0)
    }
    25% {
        transform: translate(0, 50px)
    }
    50% {
        transform: translate(50px, 50px)
    }
    75% {
        transform: translate(50px, 0)
    }
}

@keyframes item-2_move {
    0%, 100% {
        transform: translate(0, 0)
    }
    25% {
        transform: translate(-50px, 0)
    }
    50% {
        transform: translate(-50px, 50px)
    }
    75% {
        transform: translate(0, 50px)
    }
}

@keyframes item-3_move {
    0%, 100% {
        transform: translate(0, 0)
    }
    25% {
        transform: translate(0, -50px)
    }
    50% {
        transform: translate(-50px, -50px)
    }
    75% {
        transform: translate(-50px, 0)
    }
}

@keyframes item-4_move {
    0%, 100% {
        transform: translate(0, 0)
    }
    25% {
        transform: translate(50px, 0)
    }
    50% {
        transform: translate(50px, -50px)
    }
    75% {
        transform: translate(0, -50px)
    }
}

.amazing-img1 {
    background-image: url("./img/Our Amazing/1.png");
}

.amazing-img2 {
    background-image: url("./img/Our Amazing/2.png");
}

.amazing-img3 {
    background-image: url("./img/Our Amazing/3.png");
}

.amazing-img4 {
    background-image: url("./img/Our Amazing/4.png");
}

.amazing-img5 {
    background-image: url("./img/Our Amazing/5.png");
}

.amazing-img6 {
    background-image: url("./img/Our Amazing/6.png");
}

.amazing-img7 {
    background-image: url("./img/Our Amazing/7.png");
}

.amazing-img8 {
    background-image: url("./img/Our Amazing/8.png");
}

.amazing-img9 {
    background-image: url("./img/Our Amazing/9.png");
}

.amazing-img10 {
    background-image: url("./img/Our Amazing/10.png");
}

.amazing-img11 {
    background-image: url("./img/Our Amazing/11.png");
}

.amazing-img12 {
    background-image: url("./img/Our Amazing/10.png");
}

.breaking-text {
    padding-top: 63px;
    padding-bottom: 80px;
    text-align: center;
    position: relative;
    font-size: 36px;
}

.breaking-text::after {
    content: '';
    display: inline-block;
    width: 76px;
    height: 1px;
    background-color: #00CBF6;
    position: absolute;
    bottom: 40px;
    right: 45%;
}

.breaking-text::before {
    content: '';
    display: inline-block;
    width: 76px;
    height: 1px;
    background-color: #00CBF6;
    position: absolute;
    bottom: 35px;
    right: 43%;
}

.breaking-blocks {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blocks-breaking {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    width: 1212px;
    flex-wrap: wrap;
}

.blocks-breaking {
    list-style: none;
}

.blocks-content-img {
    width: 265px;
    height: 281px;
    border: 1px solid #ECECEC;
    margin-left: 28px;
    margin-bottom: 46px;
    background-color: #F8FCFE;
}

.breaking-img-size {
    height: 208px;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.blocks-content-img:hover > * {
    color: #00CBF6;
}

.blocks-content-img:hover .breaking-img-calendar {
    background-color: #00CBF6;
}

.breaking-img-calendar:hover {
    background-color: #00CBF6;
}

.calendar-date {
    color: white;
    font-size: 16px;
    text-align: center;
}

.breaking-img-calendar {
    align-content: space-around;
    flex-wrap: wrap;
    height: 67px;
    width: 69px;
    display: flex;
    background-color: #203E38;
    padding: 10px;
    line-height: 1.6;
}

.breaking-img1 {
    background-image: url("./img/Breaking News/1.png");
}

.breaking-img2 {
    background-image: url("./img/Breaking News/2.png");
}

.breaking-img3 {
    background-image: url("./img/Breaking News/3.png");
}

.breaking-img4 {
    background-image: url("./img/Breaking News/4.png");
}

.breaking-img5 {
    background-image: url("./img/Breaking News/5.png");
}

.breaking-img6 {
    background-image: url("./img/Breaking News/6.png");
}

.breaking-img7 {
    background-image: url("./img/Breaking News/7.png");
}

.breaking-img8 {
    background-image: url("./img/Breaking News/8.png");
}

.breaking-text-in-img {
    color: #717171;
    font-size: 18px;
    padding-left: 13px;
    cursor: pointer;
}

.amazing-blog-post {
    margin-top: 11px;
    font-weight: bold;
    list-style: none;
}

.amazing-comment {
    margin-top: 11px;
    color: #777777;
    list-style: none;
}

.wrapper-people-say {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background: url("./img/Sections background/section-3.jpg") no-repeat center;
    background-size: cover;
}

.wrapper-people-say-text {
    display: flex;
    justify-content: center;
    padding-top: 99px;
    padding-bottom: 104px;
    color: #FFFFFF;
    font-size: 36px;
    position: relative;
}

.wrapper-people-say-text::after {
    content: '';
    display: inline-block;
    width: 76px;
    height: 1px;
    background-color: #00CBF6;
    position: absolute;
    bottom: 40px;
    right: 45%;
}

.wrapper-people-say-text::before {
    content: '';
    display: inline-block;
    width: 76px;
    height: 1px;
    background-color: #00CBF6;
    position: absolute;
    bottom: 35px;
    right: 43%;
}

.quotes {
    background: url("./img/quotes.png");
    height: 31px;
    width: 45px;
    margin: 0 auto;
}

.content-people {
    font-size: 16px;
    width: 1015px;
    list-style: none;
}

.img-people-footers {
    padding-top: 68px;
    padding-bottom: 118px;
}

.firsName-people {
    padding-top: 43px;
    color: #18CFAB;
}

.position-people {
    padding-bottom: 37px;
}

.img-people {
    background: url("./img/people3-1.png") no-repeat center;
    border-radius: 50%;
    width: 171px;
    height: 145px;
    margin: 0 auto;
}

.selected div {
    padding-bottom: 44px;
    padding-top: 43px;
    width: 1136px;
    min-height: 150px;
}

.selected img {
    border-radius: 50%;
}

.img-people-footers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    list-style: none;
}

.buttom-people-left {
    border: 1px solid #BBBBBB;
    width: 31px;
    height: 31px;
    cursor: pointer;

}

.list {
    padding-top: 68px;
    display: flex;
    justify-content: center;
    padding-bottom: 105px;
    align-items: center;
}

.buttom-people-left:after {
    content: "\003C";
    color: #b8b8b8;
    font-size: 24px;
}

.buttom-people-right {
    border: 1px solid #BBBBBB;
    width: 31px;
    height: 31px;
    margin-left: 37px;
    cursor: pointer;
}

.buttom-people-right:hover {
    background-color: #00CBF6;
}

.buttom-people-left:hover {
    background-color: #00CBF6;
}

.buttom-people-right:after {
    content: "\003E";
    color: #b8b8b8;
    font-size: 24px;
}

.img-foot {
    height: 68px;
    width: 80px;
    border-radius: 50%;
    margin-left: 37px;
}

.selected img {
    border-radius: 50%;
    background-color: rgba(31, 218, 181, 0.2);
    outline: none;
}

.content-gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

.content-text-gallery {
    padding-top: 74px;
    padding-bottom: 80px;
    font-size: 36px;
    color: #4E4E4E;
    position: relative;

}

.content-text-gallery::after {
    content: '';
    display: inline-block;
    width: 76px;
    height: 1px;
    background-color: #00CBF6;
    position: absolute;
    bottom: 40px;
    right: 45%;
}

.content-text-gallery::before {
    content: '';
    display: inline-block;
    width: 76px;
    height: 1px;
    background-color: #00CBF6;
    position: absolute;
    bottom: 35px;
    right: 43%;
}

.gallery-best-images-button {
    padding-bottom: 100px;
    padding-top: 100px;
}

.footer-blocks {
    background-color: #22353F;
    text-align: center;
}

.footer-text {
    padding-top: 36px;
    padding-bottom: 35px;
    font-size: 14px;
    color: #AEAEAE;
    margin-bottom: 8px;
}

.footer-colors-theHam {
    color: #18CFAB;
    font-size: 14px;
}